#id-slide5{
    background: linear-gradient(180deg,rgba(106,197,213,0.2),rgba(145,205,255,0.5));
}

#backend-svg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#backend-svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}