#id-slide7{
    background: linear-gradient(180deg, rgba(255,255,255,1) 100%, rgba(247,248,249,0.604079131652661) 100%);
}

.contact{
    padding-top: 24px;
}
.contact .contact-item{
    margin-bottom: 24px;
}
.contact .contact-item__label{
    color: #51c4d8;
    font-size: 16px;
    margin-bottom: 8px;
}

.contact .contact-item__link{
    display: inline-block;
}