// 白天背景
$coverNightFilter: linear-gradient(82deg, #211f1f 0%, #2948a6 75%, #120c47 100%);
$coverDayFilter: linear-gradient(82deg, rgba(145,205,255,1) 0%, rgba(255,255,255,1) 75%, rgba(145,205,255,1) 100%);
$coverBg: linear-gradient(180deg, rgba(29,43,73,1) 0%, rgba(26,70,163,1) 25%, rgba(115,218,255,1) 50%, rgba(237,250,255,1) 70%);

// 天空漸層
$sceneGradient: linear-gradient(#1D2B49,#1A45A0,#91cdff,#fff);

// 窗框顏色
$windowColor: #d4c29f;
$windowShadowColor: #dddcdb;

// 貓咪顏色
$catBodyColor: #1c0526;

// 太陽顏色
$sunColor: #ffdd38;
$sunShadowColor: rgba(255, 221, 56, 0.5);

@mixin size($width, $height: $width, $bdrs: 0) {
    width: $width;
    height: $height;
    border-radius: $bdrs;
}

// animations

@keyframes coverDayNightSwitch{
    0%{
        background: $coverNightFilter;
    }
    100%{
        background: $coverDayFilter;
    }
}

@keyframes moonAppear{
    0% {
        box-shadow: inset 0px 0px rgba(255, 255, 255, 0.9);
    }
    100%{
        box-shadow: inset 10px -10px rgba(255, 255, 255, 0.9);
    }
}

@keyframes starFalling{
    0%{
        opacity: 0;
        transform: translate(200px, 0px);
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(100px, 100px);
    }
}

@keyframes cat-head{
    0%, 20%, 50%, 100%{
        transform: scaleY(1);
    }
    25%, 47%{
        transform: scaleY(0.85) translateY(2px);
    }
}

@keyframes ear-right {
    0%, 20%, 50%, 100% {
        transform: rotate(60deg);
    }
    21%, 45% {
        transform: rotate(80deg);
    }
}

@keyframes ear-left {
    0%, 20%, 50%, 100% {
        transform: rotate(45deg);
    }
    21%, 45% {
        transform: rotate(25deg);
    }
}

@keyframes tail {
    0%, 20%, 75%, 100% {
        transform: rotate(-8deg);
    }
    10%, 55%, 85%{
        transform: rotate(8deg);
    }
}

.cover-bg{
    background: $sceneGradient;
    background-size: 100% 300%;
    background-position: top;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 2s;
        background: linear-gradient(82deg, #211f1f 0%, #2948a6 75%, #120c47 100%);
        opacity: 1;
    }
    &.cover-bg_day{
        background-position: bottom;
        &:before{
            opacity: 0;
        }
    }
}

.catScene-wrapper{
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.catScene{
    width: 400px;
    height: 80vh;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 128px;
    * {
        position: absolute;
    }
    .window-group{
        width: 100%;
        height: 100%;
        cursor: pointer;
        .window{
            width: 100%;
            height: 100%;
            border: 10px solid $windowColor;     
            border-radius: 3px;
            .sky{
                width: 100%;
                height: 100%;
                background: $sceneGradient;
                background-size: 100% 300%;
                .sun, .moon{
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    top: 80px;
                    left: 50%;
                    // border: 1px solid palevioletred;
                }
                .sun{
                    background-color: $sunColor;
                    box-shadow: 0 0 20px $sunShadowColor;
                    top: 400px;
                    opacity: 0;
                }
                .moon{
                    animation: moonAppear 5s both;
                    opacity: 1;
                }
                &.day{
                    background-position: 0 100%;
                    .sun{
                        top: 80px;
                        opacity: 1;
                    }
                    .moon{
                        top: -80px;
                        opacity: 0;
                    }
                    .stars{
                        opacity: 0;   
                    }
                }
            }
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 14px;
                top: 40%;
                background-color: $windowColor;
                box-shadow: 0 -10px $windowShadowColor;
                z-index: 3;
            }
            .window-in{
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 10px solid $windowShadowColor;
                border-top: 0;
                overflow: hidden;
            }
            .stars{
                @include size(100%);
                top: 0;
                left: 0;
                [class^='star']{
                    @include size(3px, 3px, 50%);
                    background-color: #fff;
                    animation: starFalling 2s infinite;
                }
                @for $i from 1 through 30{
                    .star#{$i}{
                        top: random(100)*1%;
                        left: random(80)*-1% + 50%;
                        animation-delay: $i*-0.1s;
                    }
                }
            }
        }
        .cat{
            width: 50%;
            height: 50%;
            right: 56px;
            bottom: 8px;
            // border: 1px solid red;
            position: absolute;
            z-index: 4;
            .cat-head{
                width: 100px;
                height: 90px;
                background-color: $catBodyColor;
                border-radius: 36px;
                bottom: 162px;
                left: 7px;
                transform: rotate(3deg) scale(1.05);
                animation: cat-head 15s ease infinite;
                .ear{
                    width: 48px;
                    height: 46px;
                    top: -2px;
                    left: 1px;
                    transform: rotate(45deg);
                    .ear-in{
                        width: 100%;
                        height: 100%;
                        background-color: $catBodyColor;
                        transform: skew(35deg);
                        border-radius: 5px;
                        overflow: hidden;
                    }
                    &:first-child{
                        animation: ear-left 5s ease infinite;
                    }
                    &:nth-child(2){
                        left: 50px;
                        top: 1px;
                        transform: rotate(72deg);
                        animation: ear-right 5s ease infinite;

                    }
                }
            }
            .cat-neck{
                right: 114px;
                bottom: 203px;
                // transform: rotate(-13deg);
                .neck-in{
                    bottom: 2px;
                    background-color: $catBodyColor;
                    height: 19px;
                    width: 20px;
                    border-radius: 0 0px 20px 20px;
                    z-index: 1;
                    transform: rotate(-6deg);
                    .neck-in{
                        bottom: -29%;
                    }
                }
            }
            .cat-body{
                width: 150px;
                height: 180px;
                background-color: $catBodyColor;
                bottom: 0;
                border-radius: 0 50% 6% 0;
                left: 34px;
            }
            .cat-paw{
                bottom: 0;
                background-color: $catBodyColor;
                width: 30px;
                height: 18px;
                border-radius: 50px;
                left: 18px;
            }
            .cat-tail{
                background-color: $catBodyColor;
                height: 40px;
                width: 20px;
                border-radius: 50px;
                bottom: -24px;
                right: 10px;
                .tail-in{
                    bottom: 2px;
                    background-color: $catBodyColor;
                    height: 20px;
                    width: 20px;
                    border-radius: 20px 20px 0 0px;
                    z-index: 1;
                    transform: rotate(8deg);
                    transform-origin: center center;
                    animation: tail 15s ease infinite;
                    .tail-in{
                        bottom: -40%;
                    }
                    &.last{
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

.cover-bg, .sky, .moon, .sun, .stars{
    transition: 2s;
}

@media (max-width: 960px) {
    .catScene{
        margin-right: 56px;
    }
}

@media (max-width: 768px) {
    .catScene{
        right: 0;
        margin-right: 12px;
    }
}

/* --------------
* h1 heading
* -------------- */
.cover{
    .heading{
        color: #fefefe;
        transition: 2s;
    }
    &.cover-bg_day{
        .heading{
            color: #484848;
        }
    }
}
@media (max-width: 768px) {
    .cover .heading{
        font-size: 48px;
        margin-bottom: 240px;
    }
}

@media (max-width: 576px) {
    .cover .heading{
        margin-bottom: 0;
    }
}

/* --------------
* cover-desc
* -------------- */
.cover-desc--wrapper{
    padding: 16px;
    opacity: 0;
    transition: 2s;
    .cover-desc{
        margin-top: -8px;
    }
    ul li{
        padding-bottom: 8px;
    }
}

.cover-bg_day{
    .cover-desc--wrapper{
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .cover-desc--wrapper{
        display: none;
    }
}

/* --------------
* scrolldown-btn
* -------------- */
.scrolldown-btn{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #fefefe;
    color: #fefefe;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    animation: breath 2s infinite;
}
@keyframes breath{
    0%{opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0.5;}
}

.scrolldown-btn .icon-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}