.experience-imageBox{
    width: 100%;
    overflow: hidden;
}
.experience-imageBox--inner{
    width: 260px;
    max-width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 100px;
}
.experience-image{
    display: block;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width: 767px) {
    .experience-imageBox--inner{
        margin-top: 24px;
    }
}

.geometry-01{
    bottom: 10%;
    left: 30%;
    position: absolute;
}

.geometry-02{
    position: absolute;
    right: 30%;
    transform: rotate(-30deg) !important;
}
