.timeline-group{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 120px;	
    .timeline{
			width: 4px;
			height: 100%;
			background-color: rgb(233, 150, 165);
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }
    .timeline-cards{
			margin-left: 32px;
			margin-right: 32px;
    }
    .timeline-card{
			&:before{
				content: "";
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: rgb(233, 150, 165);
				box-shadow:  0 3px 10px rgba(0, 0, 0, 0.5);
				position: absolute;
				top: 50%;
			}
    }
}

.timeline-card-row{
    &:nth-child(odd){
        display: flex;
        justify-content: flex-start;
        ::before{
            right: -24px;
            transform: translate(50%,-50%);
        }
        .timeline-card__icon{
            width: 64px;
            height: 64px;
            border-radius: 50%;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.56);
            position: absolute;
            left: -32px;
            top: 0%;
            transform: translateY(-50%);
            img{
                max-width: 65%;
                max-height: 65%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &:nth-child(even){
			display: flex;
			justify-content: flex-end;
			::before{
				left: -24px;
				transform: translate(-50%,-50%);
			}
			.timeline-card__icon{
				width: 64px;
				height: 64px;
				border-radius: 50%;
				box-shadow: 0 3px 10px rgba(0, 0, 0, 0.56);
				position: absolute;
				top: 0%;
				transform: translateY(-50%);
				right: -32px;
				img{
						max-width: 65%;
						max-height: 65%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
				}
			}
    }
    .timeline-card{
        padding: 24px;
        background-color: #fefefe;
        border-radius: 4px;
        box-shadow:  0 3px 10px rgba(0, 0, 0, 0.5);
        width: calc(50% - 24px);
        .timeline-card__title{
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            line-height: 36px;
            title{
                display: inline-block;
                color: #1ab8d4;
            }
        }
        .timeline-card__lableGroup{
            font-size: 16px;
            line-height: 24px;
            label{
                margin-right: 8px;
                font-weight: bold;
            }
        }
        ul{
            margin-top: 16px;
            margin-bottom: 8px;
            padding-left: 20px;
            list-style-type: disc;
        }
        p{
            margin: 0;
        }
    }
}

@media (max-width: 768px){
    .timeline-group{
        margin-top: 60px;
        .timeline{
            left: 8px;
				}
				.timeline-cards{
					margin-left: 8px;
				}
        .timeline-card{
            width: calc(100% - 24px);
						margin-bottom: 40px;
						padding: 16px;
        }
    }
    .timeline-card-row{
			&:last-child{
					.timeline-card{
							margin-bottom: 0;
					}
			}
			&:nth-child(odd){
					justify-content: flex-end;
					::before{
							left: -24px;
							transform: translate(-50%,-50%);
					}
					.timeline-card__icon{
							right: -32px;
							left: unset;
					}
			}
			.timeline-card{
				display: block;
				.timeline-card__title{
					display: block;
					title{
						display: block;
					}
					.timeline-card__duration{
						display: block;
					}
				}
			}
    }
}

.geometry-01{
    bottom: 10%;
    left: 30%;
    position: absolute;
}

.geometry-02{
    position: absolute;
    right: 30%;
    transform: rotate(-30deg) !important;
}
