.footer{
    padding: 40px 0;
    background-color: #f7f8f9;
}
@media(max-width: 768px) {
    .footer{
        text-align: center;
    }
}

.footer .catcrush-logo{
    display: block;
    width: 120px;
    height: 114px;
    background: url("/images/catcrush.ico");
    background-position: center;
    background-size: cover;
}
@media(max-width: 768px) {
    .footer .catcrush-logo{
        margin: 0 auto;
    }
}

/* --------------
* footer__contact
* -------------- */
.footer__contact{
    padding-top: 24px;
}
.footer__contact .contact-item{
    margin-bottom: 24px;
}
.footer__contact .contact-item__label{
    color: #f4ae31;
    font-size: 16px;
    margin-bottom: 8px;
}

.footer__contact .contact-item__link{
    display: inline-block;
}

.footer__iconGroup{
    padding: 24px;
}

.footer ul li{
    padding-bottom: 8px;
}

.copyright p {
    color: #bdbcbc;
}